<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand ms-4" routerLink="/">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/monitores/monitores-asa-norte">Monitores Asa norte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/monitores/monitores-taguatinga">Monitores Taguatinga</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cursos/cursos-asa-norte">Cursos Asa norte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cursos/cursos-taguatinga">Cursos Taguatinga</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>


