<div class="container justify-content-center mt-4">

  <h1>Asa Norte</h1>
  <div class="d-inline-flex me-4 mt-4" *ngFor="let monitor of monitores">
    <div class="card">
      <div class="card-header">{{ monitor.nome }}</div>
      <div class="card-body">
        <p>Horário de atendimento: {{ monitor.horario }}</p>
        <p>{{ monitor.email }}</p>
      </div>
    </div>
  </div>

  <h1 class="mt-4">Taguatinga</h1>
  <div class="d-inline-flex me-4 mt-4" *ngFor="let monitor of monitores">
    <div class="card">
      <div class="card-header">{{ monitor.nome }}</div>
      <div class="card-body">
        <p>Horário de atendimento: {{ monitor.horario }}</p>
        <p>{{ monitor.email }}</p>
      </div>
    </div>
  </div>
</div>
